{% extends  'base.html' %}
{% load static %}


{% block title %}
<title>404</title>
{% endblock %}

{% block body  %}

		<section>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
						 <form class="tourz-search-form" action="/travel/tours/" method="post" style="margin-left: 16%">
                            {% csrf_token %}

                            <div class="input-field">
                                <input type="text" id="select-search" name="common_filter" class="autocomplete">
                                <label for="select-search" class="search-hotel-type">Search over a million tour and travels, sight seeings, hotels and more</label>
                            </div>
                            <div class="input-field">
                                <input type="submit" value="search" class="waves-effect waves-light tourz-sear-btn"> </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- END TOP SEARCH BOX -->
    </section>
    <!--END HEADER SECTION-->

	<!--====== 404 ==========-->
	<section>
		<div class="form form-spac">
			<div class="rows container">
				<div class="nf">Page Not Found</div>
				<div class="nf1">404</div>

			</div>
		</div>
	</section>

{% endblock %}