{% extends  'base.html' %}
{% load static %}


{% block title %}
<title>Register Yourselg</title>
{% endblock %}
<style>
    div.maindiv{
      text-align:center;
    }
  </style>
{% block body  %}
<div class="container">
 <center> <h2 class="text-primary">Event Booking Details</h2><center>
  <table class="table table-striped">
    <thead>
      <tr class="bg-dark" >
        <th >ID</th>
        <td><div name="event_id">1</div></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Event Name</th>
        <td><div name="event_name">Trip Advert party</div></td>
      </tr>
      <tr>
        <th>Organizer Name</th>
        <td><div name="otg_name">Emerates</div></td>
      </tr>
      <tr>
        <th>Date</th>
        <td><div name="date">12-21-2019</div></td>
      </tr>
      <tr>
        <th>Price</th>
        <td><div name="price">1</div></td>
      </tr>
      <tr>
        <th>Total Price</th>
        <td><div name="tot_price">1</div></td>
      </tr>
    </tbody>
   <!--  <tbody>
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody> -->
  </table>
<button type="button" class="btn btn-danger">print</button>
</div>
{% endblock %}
