{% extends  'base.html' %}
{% load static %}


{% block title %}
<title>Price Lists</title>
{% endblock %}

{% block body  %}


    <section>
		<div class="db">
			<!--LEFT SECTION-->
			<div class="db-l">
				<div class="db-l-1">
					<ul>
						<li><img src="{% static 'travel/images/db-profile.jpg' %}" alt="" />
						</li>
					</ul>
				</div>
				<div class="db-l-2">
					<ul>
						<li>
							<a href="/travel/organizer/dashboard/myProfile/"><img src="{% static 'travel/images/icon/dbl6.png' %}" alt="" /> My Profile</a>
						</li>
						<li>
							<a href="/travel/organizer/dashboard/myProfile/events/"><img src="{% static 'travel/images/icon/dbl4.png' %}" alt="" />My Events</a>
						</li>
						<li>
							<a href="/travel/organizer/dashboard/myProfile/portfolio/"><img src="{% static 'travel/images/icon/dbl7.png' %}" alt="" />Portfolio</a>
						</li>
						<li>
							<a href="/travel/organizer/addEvent/"><img src="{% static 'travel/images/icon/dbl2.png' %}" alt="" />Add Event</a>
						</li>
					</ul>
				</div>
			</div>
			<!--CENTER SECTION-->
			<div class="db-2">
				<div class="db-2-com db-2-main">
					<h4>My Profile</h4>
					<div class="db-2-main-com db-2-main-com-table">
						<table class="responsive-table">
							<tbody>
								<tr>
									<td>Name</td>
									<td>:</td>
									<td>Sam Anderson</td>
								</tr>
								<tr>
									<td>Company Name</td>
									<td>:</td>
									<td>mypasswordtour</td>
								</tr>
								<tr>
									<td>E-mail</td>
									<td>:</td>
									<td>sam_anderson@gmail.com</td>
								</tr>
								<tr>
									<td>Phone</td>
									<td>:</td>
									<td>+01 4561 3214</td>
								</tr>
								<tr>
									<td>Address</td>
									<td>:</td>
									<td>8800 Orchard Lake Road, Suite 180 Farmington Hills, U.S.A.</td>
                                </tr>
                                <tr>
									<td>Rating</td>
									<td>:</td>
									<td><span class="db-done">5 star</span></td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/travel/organizer/dashboard/myProfile/edit/" class="waves-effect waves-light btn-large">Edit my profile</a>
                                    </td>
                                </tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!--RIGHT SECTION-->
            <!--RIGHT SECTION-->
			<div class="db-3">
				<h4>Notifications</h4>
				<ul>
					<li>
						<a href="#!"> <img src="{% static 'travel/images/icon/dbr1.jpg' %}" alt="" />
							<h5>50% Discount Offer</h5>
							<p>All the Lorem Ipsum generators on the</p>
						</a>
					</li>
					<li>
						<a href="#!"> <img src="{% static 'travel/images/icon/dbr2.jpg' %}" alt="" />
							<h5>paris travel package</h5>
							<p>All the Lorem Ipsum generators on the</p>
						</a>
					</li>
					<li>
						<a href="#!"> <img src="{% static 'travel/images/icon/dbr3.jpg' %}" alt="" />
							<h5>Group Trip - Available</h5>
							<p>All the Lorem Ipsum generators on the</p>
						</a>
					</li>
					<li>
						<a href="#!"> <img src="{% static 'travel/images/icon/dbr4.jpg' %}" alt="" />
							<h5>world best travel agency</h5>
							<p>All the Lorem Ipsum generators on the</p>
						</a>
					</li>
					<li>
						<a href="#!"> <img src="{% static 'travel/images/icon/dbr5.jpg' %}" alt="" />
							<h5>special travel coupons</h5>
							<p>All the Lorem Ipsum generators on the</p>
						</a>
					</li>
					<li>
						<a href="#!"> <img src="{% static 'travel/images/icon/dbr6.jpg' %}" alt="" />
							<h5>70% Offer 2018</h5>
							<p>All the Lorem Ipsum generators on the</p>
						</a>
					</li>
					<li>
						<a href="#!"> <img src="{% static 'travel/images/icon/dbr7.jpg' %}" alt="" />
							<h5>Popular Cities</h5>
							<p>All the Lorem Ipsum generators on the</p>
						</a>
					</li>
					<li>
						<a href="#!"> <img src="{% static 'travel/images/icon/dbr8.jpg' %}" alt="" />
							<h5>variations of passages</h5>
							<p>All the Lorem Ipsum generators on the</p>
						</a>
					</li>
				</ul>
			</div>
			
		</div>

    </section>
{% endblock %}