{% extends  'base.html' %}
{% load static %}


{% block title %}
<title>The Travel - My Profile</title>
{% endblock %}

{% block body  %}
    <section class="hot-page2-alp hot-page2-pa-sp-top">

    <section>
    <div class="container">
			<div class="row inner_banner inner_banner_3 bg-none">
				<div class="hot-page2-alp-tit">
                    <span style="margin: 1cm"><h1>Top Travel Packages</h1></span>
					<ul>
						<li><a href="#inner-page-title">Home</a> </li>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i> </li>
						<li><a href="#inner-page-title" class="bread-acti">Tours & Events</a> </li>
					</ul>
					<p> World's leading Tour Booking website,Over 10,000 tours posted by registered tour organizers worldwide. </p>
				</div>
			</div>
		</div>
    </section>
	<!--DASHBOARD-->
	<section>
		<div class="db">
			<!--LEFT SECTION-->
           {% include  'organizer-dashboard-menu.html' %}
			<!--CENTER SECTION-->
			<div class="db-2">
                <div class="db-2-com db-2-main p-0">
                    <h4>Add Event </h4>
                    <div class="db-2-main-com db2-form-pay db2-form-com p-0">


                        <form class="col s12" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="input-field col s12">
									<input type="text"  class="validate" name="title" required>
									<label>Event Title</label>
								</div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea style="height: 100px;" name="description"  type="text" class="validate h5" required ></textarea>
                                    <label>Description</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
									<input style="text-decoration: none;" name="date_of_departure"  type="text" id="from" onfocusin='(function(){document.getElementById("from").type = "datetime-local";})()'  required >
									<label for="from">Departure Date</label>
								</div>
								<div class="input-field col s6">
									<input type="text" onfocusin='(function(){
    document.getElementById("to").type = "datetime-local";

})()' id="to" name="date_of_arrival" required >
									<label for="to">Return Date</label>
								</div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
									<input type="text" id="fromLoc" name="home" required>
									<label for="home">Hometown</label>
								</div>
								<div class="input-field col s6">
									<input type="text" id="toLoc" name="destination" required>
									<label for="destination">Destination</label>
								</div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
									<input type="number" name="slots" required>
									<label for="slots">Seats</label>
								</div>
								<div class="input-field col s6">
									<input type="number" name="price" required>
									<label for="price">Price</label>
								</div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
									<select name="category" required>
										<option value="" disabled selected>Select Category</option>
										<option >One Day Tour</option>
										<option >Three Day Tour</option>
										<option >Detailed Tour</option>
										<option >Cultural/Heritage Tour</option>
									</select>
								</div>
                            </div>
                            <div class="row">

                                <div class="input-field col s12 m7">
									<select name="is_accomodation" required>
										<option value="" disabled selected>Includes Accomodation?</option>
										<option value="1">Included</option>
                                        <option value="0">Not Included</option>
                                    </select>

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea style="height: 100px"  type="text" name="accomodation_description" aria-multiline="true" class="validate"></textarea>
                                    <label>Accomodation Details</label>
                                </div>

                            </div>
                            <div class="row">

                                <div class="input-field col s12 m7">
									<select name="is_food" required>
										<option value="" disabled selected>Includes Meal?</option>
										<option value="1">Included</option>
                                        <option value="0">Not Included</option>
                                    </select>

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea style="height: 100px"  type="text" name="food_description" aria-multiline="true" class="validate"></textarea>
                                    <label>Meal Details</label>
                                </div>

                            </div>
                                                        <div class="row">

                                <div class="input-field col s12 m7">
									<select name="is_sightseeing" required>
										<option value="" disabled selected>Includes Sightseeing?</option>
										<option value="1">Included</option>
                                        <option value="0">Not Included</option>
                                    </select>

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea style="height: 100px"  type="text" name="sightseeing_description" aria-multiline="true" class="validate"></textarea>
                                    <label>Sightseeing Details</label>
                                </div>

                            </div>

                            <div class="row db-file-upload">
                                <div class="file-field input-field col m12">
                                    <div class="waves-effect waves-light tourz-sear-btn-blue v2-ser-btn col m2"> <span style="font-size: 12px;;">Picture</span>
                                        <input type="file" name="image" required> </div>
                                    <div class="file-path-wrapper col m10">
                                        <input class="file-path validate" readonly type="text" > </div>
                                </div>
                            </div>
                            <div class="row mt-3 p-2">

									<button type="submit" class="red-btn-large p-3" >SUBMIT</button>

                            </div>
                        </form>
                    </div>
                </div>
			</div>
			<!--RIGHT SECTION-->
           {% include  'organizer-dashboard-notifications.html' %}
		</div>
	</section>
	</section>
	<!--END DASHBOARD-->
{% endblock %}