{% extends  'base.html' %}
{% load static %}


{% block title %}
<title>The Travel - My Profile</title>
{% endblock %}

{% block body  %}
    <style>
    .para {
        margin-left: 0px;
        margin-right: 0px;
        height: 50px;
        overflow: hidden;
       text-overflow: ellipsis!important;
       display: -webkit-box;
       -webkit-line-clamp: 2; /* number of lines to show */
       -webkit-box-orient: vertical;
    }
    </style>
    <section>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
						 <form class="tourz-search-form" action="/travel/tours/" method="post" style="margin-left: 16%">
                            {% csrf_token %}

                            <div class="input-field">
                                <input type="text" id="select-search" name="common_filter" class="autocomplete">
                                <label for="select-search" class="search-hotel-type">Search over a million tour and travels, sight seeings, hotels and more</label>
                            </div>
                            <div class="input-field">
                                <input type="submit" value="search" class="waves-effect waves-light tourz-sear-btn"> </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- END TOP SEARCH BOX -->
    </section>
    <section class="hot-page2-alp hot-page2-pa-sp-top">

    <section>
    <div class="container">
			<div class="row inner_banner inner_banner_3 bg-none">
				<div class="hot-page2-alp-tit">
                    <span style="margin: 1cm"><h1>Top Travel Packages</h1></span>
					<ul>
						<li><a href="/travel/">Home</a> </li>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i> </li>
						<li><a href="#" class="bread-acti">My Portfolio</a> </li>
					</ul>
					<p> World's leading Tour Booking website,Over 10,000 tours posted by registered tour organizers worldwide. </p>
				</div>
			</div>
		</div>
    </section>
	<!--DASHBOARD-->
	<section>
		<div class="db">
			<!--LEFT SECTION-->
            {% include  'organizer-dashboard-menu.html' %}
			<!--CENTER SECTION-->
            <div class="db-2">
				<div class="db-2-com db-2-main">
					<h4>My Portfolio</h4>
					<div class="db-2-main-com db-2-main-com-table">
                        {% if data %}
                        <div class="popu-places-home">
                            {% for item in data %}
                            <div class="col-md-6 col-sm-6 col-xs-12 place p-3" >
                            <div class="col-md-4 col-sm-12 col-xs-12"> <img class="p-1" src="{{ item.pic }}" alt="Event Image"> </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <h3><a href="/travel/tour/detail/{{ item.id }}" ><span>{{item.title}}</span></a></h3>
                                <h5>{{item.category}}</h5>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12 ml-2" >
                                <p class="para p-0">{{item.description}}</p>
                                <br>
                                <div class="text-center center center-align"><a href="/travel/organizer/dashboard/portfolio/add-photos/{{ item.id }}" class="link-btn">Add info</a></div>
                            </div>
                        </div>
                            {% endfor %}
                        </div>
                        {% else %}
                            <h5>No Event in Portfolio</h5>
                        {% endif %}
					</div>
				</div>
			</div>
			<!--RIGHT SECTION-->
           {% include  'organizer-dashboard-notifications.html' %}
		</div>
	</section>
	</section>
	<!--END DASHBOARD-->

{% endblock %}