
{% load static %}
<div class="db-l">
				<div class="db-l-1">
					<ul>
                        {% if request.session.tripadvert_user_image %}
                            <li><img src="{{ request.session.tripadvert_user_image }}" alt="" />
                            </li>
                            {% else %}
                            <li><img src="{% static '/travel/images/person.png' %}" alt="" />
                            </li>
                        {% endif %}

					</ul>
				</div>
				<div class="db-l-2">
					<ul>
						<li>
							<a href="/travel/organizer/dashboard/my-profile" ><img src="{% static 'travel/images/icon/dbl6.png' %}" alt="" /> My Profile</a>
						</li>
						<li>
							<a href="/travel/organizer/dashboard/event-bookings/"><img src="{% static 'travel/images/icon/dbl2.png' %}" alt="" /> My Bookings</a>
						</li>

                        <li>
							<a href="/travel/organizer/dashboard/create-event/"><img src="{% static 'travel/images/icon/dbl4.png' %}" alt="" /> Create Event</a>
						</li>
                        <li>
							<a href="/travel/organizer/dashboard/events/"><img src="{% static 'travel/images/icon/dbl1.png' %}" alt="" /> My Events</a>
						</li>

                        <li>
							<a href="/travel/organizer/dashboard/portfolio/"><img src="{% static 'travel/images/icon/dbl7.png' %}" alt="" /> My Portfolio</a>
						</li>
					</ul>
				</div>
			</div>