{% extends  'base.html' %}
{% load static %}


{% block title %}
<title>The Travel - Tour Travel</title>
{% endblock %}

{% block body  %}

		<!-- TOP SEARCH BOX -->
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
						<form class="tourz-search-form">
							<div class="input-field">
								<input type="text" id="select-city" class="autocomplete">
								<label for="select-city">Enter city</label>
							</div>
							<div class="input-field">
								<input type="text" id="select-search" class="autocomplete">
								<label for="select-search" class="search-hotel-type">Search over a million tour and travels, sight seeings, hotels and more</label>
							</div>
							<div class="input-field">
								<input type="submit" value="search" class="waves-effect waves-light tourz-sear-btn"> </div>
						</form>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- END TOP SEARCH BOX -->
    <!--END HEADER SECTION-->
	
	<!--====== HOTELS LIST ==========-->
	<section class="hot-page2-alp hot-page2-pa-sp-top">
        <div class="container">

            <section>
                <div class="row inner_banner inner_banner_3 bg-none">
                    <div class="hot-page2-alp-tit">
                        <span style="margin: 1cm"><h1>Top Travel Packages</h1></span>
                        <ul>
                            <li><a href="#inner-page-title">Home</a> </li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i> </li>
                            <li><a href="#inner-page-title" class="bread-acti">Tours & Events</a> </li>
                        </ul>
                        <p> World's leading Tour Booking website,Over 10,000 tours posted by registered tour organizers worldwide. </p>
                    </div>
                </div>
            </section>
        </div>
            <section>
                <div class="db">
			    <!--LEFT SECTION-->
                    {% include  'organizer-dashboard-menu.html' %}
                    <!--CENTER SECTION-->
                    <div class="db-2">
                    <div class="db-2-com db-2-main">
                        <h4>My Events</h4>
                        <div class="db-2-main-com db-2-main-com-table">
                            {% if data|length  %}

                            <table class="responsive-table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Event</th>
                                        <th>Date</th>
                                        <th>User</th>
                                        <th>Price</th>
                                        <th>Status</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for item in data %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="/travel/tour/detail/{{ item.event_details.id }}">{{ item.event_details.title }}</a></td>
                                        <td>{{ item.date }}</td>
                                        <td>{{ item.user_details.first_name }} {{ item.user_details.first_name }}</td>
                                        <td>Rs. {{ item.event_details.price }}/-</td>
                                        <td>
                                            {% if item.is_verified %}
                                                <a href="/travel/tour/booking/toggle/{{ item.id }}" style="text-decoration: none" class="db-done">Accepted</a>
                                            {% else %}
                                                <a href="/travel/tour/booking/toggle/{{ item.id }}" style="text-decoration: none" class="db-not-done">Rejected</a>
                                            {% endif %}
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                                {% else %}
                                <h3>No Event Available</h3>
                            {% endif %}
                        </div>
                    </div>
                </div>
                    <!--RIGHT SECTION-->
                   {% include  'organizer-dashboard-notifications.html' %}
		        </div>
            </section>


		</div>
	</section>

    <script>
     function toggle
    </script>
{% endblock %}