{% load static %}
<div class="db-3">
    <h4>Notifications</h4>
    <ul id="notification_root">


    </ul>
</div>

<script>
    $( document ).ready(function() {
        $.ajax({
            url: "/api/notifications/?sentFor={{ request.session.tripadvert_person_id }}",
            dataType: 'json',
            success: function (data) {
                for(i=0;i<data.length;i++)
                {
                    li = "" + '<li>\n' +
                        '            <a href="'+data[i]["url"]+'"> <img src="/static/travel/images/icon/dbr1.jpg" alt="" />' +
                        '                <h5>'+data[i]["category"]+'</h5>\n' +
                        '                <p class="pl-0">'+data[i]["description"]+'</p>\n' +
                        '            </a>\n' +
                        '        </li>';
                    document.getElementById("notification_root").innerHTML += li;
                }
            }
        });
    });
</script>