{% extends  'base.html' %}
{% load static %}


{% block title %}
<title>The Travel - My Profile</title>
{% endblock %}

{% block body  %}
<script>
var counter = 1
</script>
    <section class="hot-page2-alp hot-page2-pa-sp-top">

    <section>
    <div class="container">
			<div class="row inner_banner inner_banner_3 bg-none">
				<div class="hot-page2-alp-tit">
                    <span style="margin: 1cm"><h1>Top Travel Packages</h1></span>
					<ul>
						<li><a href="#inner-page-title">Home</a> </li>
						<li><i class="fa fa-angle-right" aria-hidden="true"></i> </li>
						<li><a href="#inner-page-title" class="bread-acti">Tours & Events</a> </li>
					</ul>
					<p> World's leading Tour Booking website,Over 10,000 tours posted by registered tour organizers worldwide. </p>
				</div>
			</div>
		</div>
    </section>
	<!--DASHBOARD-->
	<section>
		<div class="db">
			<!--LEFT SECTION-->
            {% include  'organizer-dashboard-menu.html' %}
			<!--CENTER SECTION-->
            <div class="db-2">
				<div class="db-2-com db-2-main">

					<h4>Add Photos</h4>
					<div class="db-2-main-com db-2-main-com-table">
                        <form method="post" enctype="multipart/form-data" id="form">

                            <div id="root">
                                <div class="box grey-border">
                                    <img class="getFileLabel" id="prev0">
                                    <i onclick="clickCross()" style="opacity: 0%;" class="fa fa-times fa-th-large cross" id="cross0" ></i>
                                    <label  class="getFileLabel" id="label0" for="0"><p><b>Choose Image</b></p></label>
                                    <input class="getFile getFileLabel" type="file" id="0" name="image" hidden>
                                </div>
                                <div class="box my-auto">
                                <img src="{% static 'travel/images/blue-plus.png' %}" class="plus" >
                                </div>
                            </div>

                            <input type="submit" value="Save" class="blue-btn-large p-3 m-2">
                        </form>
					</div>
				</div>
			</div>
			<!--RIGHT SECTION-->
           {% include  'organizer-dashboard-notifications.html' %}
		</div>
	</section>
	</section>
	<!--END DASHBOARD-->
    <script>
        function clickCross() {
        }
        var imageInput = document.getElementById("0");
        var label = document.getElementById("label0");
        var prevContainer = document.getElementById("prev0");
        var cross = document.getElementById("cross0")
        imageInput.addEventListener("change",function(){
           const file = this.files[0];
            if(file)
            {
                const reader = new FileReader();
                label.style.zIndex="-1000";
                cross.style.opacity="100%"
                reader.addEventListener("load",function () {
                   prevContainer.setAttribute("src",this.result);
                   prevContainer.style.background="white"
                });
                reader.readAsDataURL(file);
            }
        });
    </script>
s
{% endblock %}