{% extends  'base.html' %}
{% load static %}


{% block title %}
<title>Register Yourself</title>
{% endblock %}

{% block body  %}

	<section>
		<div class="tr-register">
			<div class="tr-regi-form">
				<h4>Create an Account</h4>
				<p>It's free and always will be.</p>
				<form class="col s12">
					<div class="row">
						<div class="input-field col m6 s12">
							<input type="text" class="validate" required>
							<label>First Name</label>
						</div>
						<div class="input-field col m6 s12">
							<input type="text" class="validate" required>
							<label>Last Name</label>
						</div>
                    </div>
					<div class="row">
						<div class="input-field col s12">
							<input type="text" class="validate" required>
							<label>User Name</label>
						</div>
                    </div>
                        <div class="row">
						<div class="input-field col s12">
							<input type="number" class="validate" required>
							<label>Mobile</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="email" class="validate" required>
							<label>Email</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="password" class="validate" required>
							<label>Password</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="password" class="validate" required>
							<label>Confirm Password</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input type="submit" value="Login" class="waves-effect waves-light btn-large full-btn"> </div>
					</div>
				</form>
				<p>Are you a already member ? <a href="/travel/login/">Click to Login</a>
				</p>
				<p>Want to Organize a Event ? <a href="http://127.0.0.1:8000/travel/organizer/register">Click to be a Organizer</a>
				</p>
			</div>
		</div>
	</section>
	END DASHBOARD
{% endblock %}
