{% extends  'base.html' %}
{% load static %}
{% load my_tags %}

{% block title %}
<title>The Travel - Tour Travel</title>
{% endblock %}

{% block body  %}

    <!-- The Modal -->
    <div class="modal" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Book Event</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <div class="row">
                    <table class=" m-2 table table-hover">
                        <thead>
                            <tr>
                                <th class="text-center" >#</th>
                                <th>Event name</th>
                                <th class="text-center">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: center"> {{ data.id }} </td>
                                <td><em>{{data.title}}</em></td>
                                <td class="text-center">Rs. {{ data.price }}/-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <hr size="2">
                    <p class="mx-2 text-danger" style="font-size: 12px;">Note: <span style="font-size: 8px;color: black;">Pay atleast 20% of the total amount by JazzCash and contact organizer.</span></p>
                <hr size="2">
          </div>
          <div class="modal-footer">
                <a href="/travel/book-event/{{ data.id }}" class="btn btn-success btn-block">Confirm Booking</a>
          </div>
        </div>
      </div>
    </div>
    <!-- TOP SEARCH BOX -->
    <section>
        <div class="search-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="search-form">
						 <form class="tourz-search-form" action="/travel/tours/" method="post" style="margin-left: 16%">
                            {% csrf_token %}

                            <div class="input-field">
                                <input type="text" id="select-search" name="common_filter" class="autocomplete">
                                <label for="select-search" class="search-hotel-type">Search over a million tour and travels, sight seeings, hotels and more</label>
                            </div>
                            <div class="input-field">
                                <input type="submit" value="search" class="waves-effect waves-light tourz-sear-btn"> </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		<!-- END TOP SEARCH BOX -->
    </section>
    <!-- END TOP SEARCH BOX -->


	<!--====== BANNER ==========-->
	<section>
		<div class="rows inner_banner inner_banner_4">
			<div class="container">
				<h2><span>{{data.title}} -</span> Tour Package</h2>
				<ul>
					<li><a href="#inner-page-title">Home</a>
					</li>
					<li><i class="fa fa-angle-right" aria-hidden="true"></i> </li>
					<li><a href="#inner-page-title" class="bread-acti">{{data.title}}</a>
					</li>
				</ul>
				<p>Book travel packages and enjoy your holidays with distinctive experience</p>
			</div>
		</div>
	</section>
	<!--====== TOUR DETAILS - BOOKING ==========-->
	<section>
		<div class="rows banner_book" id="inner-page-title">
			<div class="container">
				<div class="banner_book_1">
					<ul>
						<li class="dl1">Location : <span>{{ data.destination}}</span></li>
						<li class="dl2">Price : <span>{{ data.price }}</span></li>
						<li class="dl3">Departure: <span>{{data.date_of_departure}}</span></li>
                        {% if not data.is_completed %}
                            <li class="dl4 bg-danger">Available Slots: <span>{{data.free_slots}}</span> </li>
                        {% endif %}
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--====== TOUR DETAILS ==========-->
	<section>
		<div class="rows inn-page-bg com-colo">
			<div class="container inn-page-con-bg tb-space">
				<div class="col-md-9">
					<!--====== TOUR TITLE ==========-->
					<div class="tour_head">
						<h2>{{data.title}}
                        {% if data.organizer.rating %}
                            <span class="tour_star">
                                {%  for i in data.organizer.rating|times  %}
                                    <i class="fa fa-star" aria-hidden="true"></i>


                                {% endfor %}
                                {% if data.organizer.rating|get_float %}

                                <i class="fa fa-star-half-o" aria-hidden="true"></i>
                                {% endif %}
                            </span>
                        {% endif %}
                            <span class="tour_rat">{{ data.organizer.rating }}</span></h2> </div>

                        <a href="/travel/organizer/detail/{{ data.organizer.id }}" class="text-danger">{{data.organizer.first_name}} {{data.organizer.last_name}}</a> -{{data.organizer.organization}}
					<!--====== TOUR DESCRIPTION ==========-->
					<div class="tour_head1">
						<h3>Description</h3>
						<p>{{data.description}}</p>
					</div>
					<!--====== ROOMS: HOTEL BOOKING ==========-->
					<div class="tour_head1 hotel-book-room">
						<h3>Photo Gallery</h3>
						<div id="myCarousel1" class="carousel slide" data-ride="carousel">
							<!-- Indicators -->

							<!-- Wrapper for slides -->
							<div class="carousel-inner carousel-inner1" role="listbox">
								<div class="item active"> <img src="{{data.pic}}" alt="Chania" width="460" height="345"> </div>
                            </div>
							<!-- Left and right controls -->
						</div>
					</div>
					<!--====== TOUR LOCATION ==========-->

					<!--====== DURATION ==========-->
					{% if data.schedule %}
                    <div class="tour_head1 l-info-pack-days days">
						<h3>Detailed Day Wise Itinerary</h3>
						<ul>
                            {% for day in data.schedule %}
                                <li class="l-info-pack-plac"> <i class="fa fa-clock-o" aria-hidden="true"></i>
								<h4><span>Day : {{ forloop.counter|add_one }}</span> {{day.day}}</h4>
								<p> {{day.short_description}}</p>
							</li>
                            {% endfor %}
						</ul>
					</div>
                    {% endif %}
					<div>
                        {% if request.session.tripadvert_person_id and not data.is_completed %}
						<div class="dir-rat">

							<div class="dir-rat-inn dir-rat-title">
								<h3>Post your question here</h3>
							</div>
							<div class="dir-rat-inn mt-3">
								<form class="dir-rat-form" method="post">
                                    {% csrf_token %}
									<div class="form-group col-md-12 pad-left-o">
										<textarea placeholder="Write your question" name="question" required></textarea>
									</div>
									<div class="form-group col-md-12 pad-left-o">
                                        <input type="number" value="{{ data.id }}" name="event" hidden="true">
										<input type="submit" value="POST" class="link-btn "> </div>
								</form>
							</div>
                            <div class=" mx-0 px-0 col-md-10" id="question_root">

                            </div>
							<!--COMMENT RATING-->

						</div>
                        {% endif %}
					</div>
				</div>
				<div class="col-md-3 tour_r">
					<!--====== SPECIAL OFFERS ==========-->
                {% if not data.is_completed %}
					<div class="tour_right tour_offer">
						<p>Price</p>
						<h4 class="n-td-1" style="color: red" >${{ data.price }}
							</h4> <a href="#" class="link-btn" data-toggle="modal" data-target="#myModal">Book Now</a> </div>
                {% endif %}
					<!--====== TRIP INFORMATION ==========-->
					<div class="tour_right tour_incl tour-ri-com">
						<h3>Trip Information</h3>
						<ul>
                            <li>Home Town : {{ data.home }}</li>
							<li>Location : {{ data.destination }}</li>
							<li>Arrival Date: {{data.date_of_arrival}}</li>
							<li>Departure Date: {{ data.date_of_departure }}</li>
                            {% if data.is_accomodation %}
							<li>Accomodation is included</li>
                            {% endif %}
                            {% if data.is_food %}
							<li>Food is included</li>
                            {% endif %}
                            {% if data.is_sightseeing %}
							<li>Free Sightseeing</li>
                            {% endif %}
						</ul>
					</div>
					<!--====== PACKAGE SHARE ==========-->
					<!--====== HELP PACKAGE ==========-->
					<div class="tour_right head_right tour_help tour-ri-com">
						<h3>Help & Support</h3>
						<div class="tour_help_1">
							<h4 class="tour_help_1_call small">Contact Organizer</h4>
                            <hr>
							<h5><i class="fa fa-envelope" aria-hidden="true"></i> {{data.organizer.email}}</h5>
							<h5 class="mt-2"><i class="fa fa-phone" aria-hidden="true"></i> {{data.organizer.phone}}</h5> </div>
					</div>
				</div>
			</div>
		</div>
    <script>

        $( document ).ready(function() {
            $.ajax({
        url: "/api/questions/?event={{ data.id }}",
        dataType: 'json',
        success: function (data) {
            if (data.length>0) {
                var root = document.getElementById("question_root");
                for (var i = 0; i < data.length; i++) {
                    var element = '<div class="dir-rat-inn dir-rat-review pb-4">\n' +
                        '\t\t\t\t\t\t\t\t<div class="row">\n' +
                        '\t\t\t\t\t\t\t\t\t<div class="col-md-3 dir-rat-left p-0">\n' +
                        '\t\t\t\t\t\t\t\t\t\t<p class="text-danger">Question: </p>\n' +
                        '\t\t\t\t\t\t\t\t\t</div>\n' +
                        '\t\t\t\t\t\t\t\t\t<div class="col-md-9 dir-rat-right">\n' +
                        '\t\t\t\t\t\t\t\t\t\t<p>'+String(data[i]["question"])+'</p>\n' +
                        '\t\t\t\t\t\t\t\t\t</div>\n' +
                        '\t\t\t\t\t\t\t\t</div>\n' +
                            '<div class="row" ><hr class="col-md-11 mb-5"></div>'+
                        '                                <div class="row">\n' +
                        '\t\t\t\t\t\t\t\t\t<div class="col-md-3 dir-rat-left p-0">\n' +
                        '\t\t\t\t\t\t\t\t\t\t<p class="text-primary">Answer: </p>\n' +
                        '\t\t\t\t\t\t\t\t\t</div>\n' +
                        '\t\t\t\t\t\t\t\t\t<div class="col-md-9 dir-rat-right">\n' +
                        '\t\t\t\t\t\t\t\t\t\t<p>';
                    if (data[i]["answers"])
                    {
                        element+=String(data[i]["answers"]["answer"]);
                    }

                        element+='</p>\n' +
                        '\t\t\t\t\t\t\t\t\t</div>\n' +
                        '\t\t\t\t\t\t\t\t</div>\n' +
                        '\t\t\t\t\t\t\t</div>';

                    root.innerHTML +=element;

                }
            }

        }
      });
            $.ajax({
        url: "/api/images/?event={{ data.id }}",
        dataType: 'json',
        success: function (data) {
            if (data.length>0) {
                var root = document.getElementById("question_root");
                for (var i = 0; i < data.length; i++) {
                    element = '<div class="item"> <img src="'+data[i]["image"]+'" alt="Event Image" width="460" height="345"> </div>';
                    root.innerHTML +=element;

                }
            }

        }
      });
        });

    </script>
	</section>

{% endblock %}