<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

</body>
</html>{% extends  'base.html' %}
{% load static %}


{% block title %}
<title>404</title>
{% endblock %}

{% block body  %}
	<!--====== 404 ==========-->
	<section>
		<div class="form form-spac">
			<div class="rows container">
				<div class="nf1">Something Wrong</div>
				<div class="nf">Please check your internet connection and try again</div>
			</div>
		</div>
	</section>

{% endblock %}